.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
    overflow: hidden;
    background-color: rgb(23, 22, 22);   
}
.logo{
    color: cadetblue;
    font-size: 2rem;
    display: inline;

}
 .nav{
    display: flex; 
    gap: 18px; 
    float: right;
    margin-top: 7px;  
 }
.navbar a{
    color: #f6fbf7;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    background-color: rgb(23, 22, 22);
}
.navbar a:hover{
    background-color: rgb(212, 114, 114);
    color: #1b201c;
}
.navbar a.active{
    background-color: rgb(212, 114, 114);
    color: #1b201c;
}